@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: #f9f8f7;
    --foreground: #321709;

    --primary: #A87C6F;
    --primary-foreground: #ffffff;

    --secondary: #A8C09D;
    --secondary-foreground: #4A3B36;

    --accent: #F4F1ED;
    --accent-foreground: #4A3B36;

    --card: #ffffff;
    --card-foreground: #4A3B36;

    --popover: #ffffff;
    --popover-foreground: #321709;

    --border: #e5ded5;
    --input: #e5ded5;
    --ring: #4A3B36;

    --radius: 0.5rem;
  }

  .dark {
    --background: #1c1816;
    --foreground: #f4f1ed;

    --primary: #A87C6F;
    --primary-foreground: #ffffff;

    --secondary: #A8C09D;
    --secondary-foreground: #ffffff;

    --accent: #4A3B36;
    --accent-foreground: #f4f1ed;

    --card: #2a2421;
    --card-foreground: #f9f8f7;

    --popover: #2a2421;
    --popover-foreground: #f9f8f7;

    --border: #3a312d;
    --input: #3a312d;
    --ring: #a87c6f;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
